<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Akwaaba | Social Companionship</title>
        <link rel="stylesheet" href="../../dist/style.css">
        <!-- aos animation library -->
        <link href="../../css/aos.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="../../assets/images/Akwaaba-purple.png">
    </head>

    <body>
        <!-- navbar -->
        <div
            class="navbar w-full py-4 px-[5%] xl:px-[8%] absolute top-0 bg-purple-primary flex items-center justify-between">
            <div class="left flex items-center gap-24">
                <!-- logo -->
                <div class="logo flex items-center gap-4">
                    <div class="left ">
                        <img src="../../assets/images/Akwaaba white0 1.png" class="Akwaaba_Logo" alt="Logo">
                    </div>
                </div>


                <!-- navlinks -->
                <div class="hidden xl:flex items-center gap-14 text-white font-light text-sm">
                    <a href="../../index.html">Home</a>
                    <a href="../about.html">About</a>
                    <div class="hidden md:block extended_menu">
                        <a href="../services.html">Services</a>

                        <div class="menu_hover_container">
                            <div class="menu_hover flex flex-col justify-center gap-4 text-blue-primary">
                                <div class="live_in">
                                    <a href="../services.html" class="">Live-In Care</a>
                                    <!-- Live-In Care menu hover -->
                                    <div class="liveInCare_menu text-blue-primary flex flex-col justify-center gap-4">
                                        <a href="./cancer_care.html">Cancer Care</a>
                                        <a href="./dementia_care.html">Dementia Care</a>
                                        <a href="./palliative_care.html">Palliative Care</a>
                                        <a href="./respite_care.html">Respite Care</a>
                                        <a href="./mental_health.html">Mental Health Care</a>
                                        <a href="./post_operative.html">Post-Operative Care</a>
                                        <a href="./holiday_care.html">Holiday Care Support</a>
                                        <a href="./paediatric_care.html">Paediatric Care</a>
                                        <a href="./private_care.html">Private Nursing</a>
                                        <a href="./private_care.html">Paediatric Care</a>
                                        <a href="./private_care.html">Night Care</a>
                                        <a href="./private_care.html">Personal Care</a>
                                    </div>
                                </div>
                                <div class="domCare live_in">
                                    <a href="../services.html">Domiciliary Care</a>
                                    <!-- Domiciliary Care menu hover -->
                                    <div class="domCare_menu text-blue-primary flex flex-col justify-center gap-4">
                                        <a href="./cancer_care.html">Cancer Care</a>
                                        <a href="./dementia_care.html">Dementia Care</a>
                                        <a href="./palliative_care.html">Palliative Care</a>
                                        <a href="./respite_care.html">Respite Care</a>
                                        <a href="./mental_health.html">Mental Health Care</a>
                                        <a href="./post_operative.html">Post-Operative Care</a>
                                        <a href="./holiday_care.html">Holiday Care Support</a>
                                        <a href="./paediatric_care.html">Paediatric Care</a>
                                        <a href="./private_care.html">Private Nursing</a>
                                        <a href="./private_care.html">Paediatric Care</a>
                                        <a href="./private_care.html">Night Care</a>
                                        <a href="./private_care.html">Personal Care</a>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                    <a href="../contact.html">Contact</a>
                    <a href="../career.html">Careers</a>
                </div>

            </div>

            <div class="right hidden xl:block">
                <a href="../contact.html" class="px-8 py-5 rounded-xl bg-light-blue text-purple rubik_b">Make an
                    Enquiry</a>
            </div>

            <!-- burger -->
            <div class="burger xl:hidden" id="burger">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

        <!-- menu overlay -->
        <div id="menu_overlay" class="menu_overlay"></div>

        <!-- mobile nav -->
        <div id="mobNav" class="xl:hidden mobNav px-4 bg-deep-green fixed top-0 -left-[100%] w-2/4 h-full z-[9999999] ">
            <div class="flex pt-8 justify-between items-center">
                <img src="../../assets/images/Akwaaba-purple.png" class="w-14" alt="Logo">
                <img id="close" class="cursor-pointer" src="../../assets/images/icons/close.svg" alt="">
            </div>
            <div class="flex flex-col mt-8 gap-8 rubik_light text-white">
                <a href="../../index.html">Home</a>
                <a href="../about.html">About</a>
                <a href="../services.html">Services</a>
                <a href="../contact.html">Contact</a>
                <a href="../career.html">Careers</a>
            </div>
        </div>

        <!-- main content -->
        <main class="pt-24">
            <section class="md:px-[12%] xl:px-[18%] px-[8%]">
                <!-- breadcrumb -->
                <div class="flex items-center gap-8 text-sm md:text-base">
                    <div class="flex items-center gap-4 py-10">
                        <hr class="w-14 border-b-light-green border ">
                        <a href="../services.html" class="text-light-green rubik_md">Services</a>
                    </div>
                    <div class="flex items-center gap-4 py-10">
                        <hr class="w-14 border-b-light-green border ">
                        <span class="text-light-green rubik_md">Social Companionship</span>
                    </div>
                </div>
                <div class="flex flex-col">
                    <p class="text-4xl rubik_md text-blue-primary">Social Companionship</p>

                    <div class="content py-8">
                        <div class="md:float-left mb-4 md:mb-0 md:w-[400px] w-full h-[400px] mr-14 rounded-3xl"
                            data-aos="fade-right">
                            <img src="../../assets/images/S-Comp.png"
                                class="w-full h-full object-cover rounded-3xl" alt="">
                        </div>
                        <!-- <div class="float-right"> -->
                        <span class="text-primary">
                            <p class="rubik_light leading-7" data-aos="fade-left">
                            At Akwaaba Care Services Recruitment Ltd., we understand that companionship is an essential aspect of well-being. Our
                            Social Companionship Care Services are designed to provide not only care but also meaningful human connection. <br>Our
                            compassionate caregivers are here to brighten your day with engaging conversations, shared activities, and genuine
                            companionship. Whether it's enjoying a cup of tea, playing games, going for a walk, or pursuing hobbies, we aim to
                            create a warm and supportive environment where you or your loved one can feel socially connected and uplifted. Akwaaba
                            Care Services is dedicated to enhancing the quality of life through the power of companionship, ensuring that each day
                            is filled with joy and meaningful interactions.
                            </p>
                        </span>
                        <!-- </div> -->
                    </div>

                    <div class="p-8 md:p-14 bg-grey-bg rounded-3xl flex flex-col md:flex-row items-end justify-between">
                        <div class="" data-aos="fade-up" data-aos-delay="300">
                            <p class="text-3xl rubik_md text-light-green pb-4">Our Services Include</p>
                            <ul class="list-inside list-disc text-primary rubik_light leading-7">
                                <li>Engaging in Conversations</li>
                                <li>Playing Games and Puzzles</li>
                                <li>Sharing Stories and Memories</li>
                                <li>Going for Walks or Strolls</li>
                                <li>Attending Social Events or Outings</li>
                                <li>Pursuing Hobbies and Interests</li>
                                <li>Providing Emotional Support</li>
                            </ul>
                        </div>

                        <div class="md:pb-8 mt-4 w-full md:w-auto" data-aos="fade-left" data-aos-delay="500">
                            <a href="../contact.html"
                                class="md:px-14 md:py-5 px-8 py-3 w-full block mb-4 md:w-max text-center rounded-xl bg-light-green text-white">Contact
                                Us
                            </a>
                        </div>
                    </div>
                </div>
            </section>


            <!-- FAQS -->
            <section class="bg-light-green mt-36 px-[10%] py-[5%]">
                <div class="content">
                    <p class="text-5xl rubik_sb text-white">FAQs</p>

                    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 pt-8 md:gap-8 ">
                        <div class="faq text-white py-8" data-aos="fade-left" data-aos-delay="300">
                            <div class="flex items-center gap-4">
                                <div class="w-[50px] h-[50px] rounded-full bg-white flex items-center justify-center">
                                    <span class="rubik_sb text-light-green">Q1</span>
                                </div>
                                <span class="rubik_sb text-xl">What are social companionship care services?</span>
                            </div>
                            <p class="leading-7 py-4 rubik_light">Social companionship care services provide emotional support, companionship, and engagement for individuals who may be
                            experiencing loneliness, isolation, or a need for social interaction. Caregivers focus on fostering meaningful
                            relationships and promoting well-being.
                            </p>
                        </div>
                        <div class="faq text-white py-8" data-aos="fade-left" data-aos-delay="500">
                            <div class="flex items-center gap-4">
                                <div class="w-[50px] h-[50px] rounded-full bg-white flex items-center justify-center">
                                    <span class="rubik_sb text-light-green">Q2</span>
                                </div>
                                <span class="rubik_sb text-xl w-4/5">Who can benefit from social companionship care services?</span>
                            </div>
                            <p class="leading-7 py-4 rubik_light">Social companionship care services are beneficial for seniors, individuals with disabilities, those recovering from
                            illness, or anyone who desires social interaction and companionship to enhance their emotional and mental well-being.
                            </p>
                        </div>
                        <div class="faq text-white py-8" data-aos="fade-left" data-aos-delay="700">
                            <div class="flex items-center gap-4">
                                <div class="w-[50px] h-[50px] rounded-full bg-white flex items-center justify-center">
                                    <span class="rubik_sb text-light-green">Q3</span>
                                </div>
                                <span class="rubik_sb text-xl w-4/5"> What is the primary goal of social companionship care services?</span>
                            </div>
                            <p class="leading-7 py-4 rubik_light">The primary goal of social companionship care services is to alleviate loneliness, improve emotional well-being, and
                            enhance the overall quality of life for individuals by providing companionship, social engagement, and meaningful
                            interactions. It aims to reduce feelings of isolation and enhance happiness and mental health.
                            </p>
                        </div>
                        <div class="faq text-white py-8" data-aos="fade-left" data-aos-delay="300">
                            <div class="flex items-center gap-4">
                                <div class="w-[50px] h-[50px] rounded-full bg-white flex items-center justify-center">
                                    <span class="rubik_sb text-light-green">Q4</span>
                                </div>
                                <span class="rubik_sb text-xl w-4/5"> How do I arrange social companionship care services for a loved one?</span>
                            </div>
                            <p class="leading-7 py-4 rubik_light">To arrange social companionship care services, contact a reputable home care agency or provider. They will assess your
                            loved one's needs, preferences, and schedule to create a personalized care plan.
                            </p>
                        </div>
                        <div class="faq text-white py-8" data-aos="fade-left" data-aos-delay="500">
                            <div class="flex items-center gap-4">
                                <div class="w-[50px] h-[50px] rounded-full bg-white flex items-center justify-center">
                                    <span class="rubik_sb text-light-green">Q5</span>
                                </div>
                                <span class="rubik_sb text-xl w-4/5">Are social companionship caregivers trained to provide emotional support?</span>
                            </div>
                            <p class="leading-7 py-4 rubik_light">Yes, social companionship caregivers are trained to provide emotional support. They offer empathy, active listening, and
                            a caring presence to address emotional needs and promote well-being.
                            </p>
                        </div>
                        <div class="faq text-white py-8" data-aos="fade-left" data-aos-delay="700">
                            <div class="flex items-center gap-4">
                                <div class="w-[50px] h-[50px] rounded-full bg-white flex items-center justify-center">
                                    <span class="rubik_sb text-light-green">Q6</span>
                                </div>
                                <span class="rubik_sb text-xl w-4/5">Is social companionship care limited to seniors?</span>
                            </div>
                            <p class="leading-7 py-4 rubik_light">No, social companionship care is not limited to seniors. It can benefit individuals of all ages who seek companionship
                            and social interaction, such as those with disabilities or chronic conditions.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer class="bg-purple-primary h-max py-14 text-white flex items-center justify-center px-[8%]">
            <div class="w-full h-[70%]">
                <p class="rubik_b text-3xl xl:text-5xl text-center ">We’ll keep in touch</p>


                <div class="flex flex-col xl:flex-row items-center justify-center gap-4 mt-24">

                    <a href="../career.html"
                        class="px-8 py-4 w-full md:w-auto rounded-lg text-center bg-light-green">See Job Openings</a>
                </div>

                <div class="grid grid-cols-1 xl:grid-cols-5 my-16">
                    <div class="flex flex-col md:flex-row gap-4 col-span-2">
                        <div class="mt-4">
                            <img src="../../assets/images/Akwaaba white0 1.png" class="w-44" alt="logo">

                            <p class="mt-8 rubik_light">"Compassionate Care for Your <br> Loved Ones - Trust Us with
                                <br>
                                Your Family's
                                Well-Being"
                            </p>
                        </div>

                    </div>

                    <div class="flex flex-col gap-8 mt-8 xl:mt-4">
                        <a href="../../index.html">Home</a>
                        <a href="../about.html">About</a>
                        <a href="../services.html">Services</a>
                        <a href="../contact.html">Contact</a>
                    </div>

                    <div class="flex flex-col gap-8 mt-8 xl:mt-4">
                        <a>More Links</a>
                        <a>Live-In Care</a>
                        <a>Domiciliary Care</a>
                    </div>
                    
                    <div class="flex flex-col gap-8 mt-8 xl:mt-4">
                        <a>Contact Details</a>
                        <ul>
                            <li>2 Woodbury Close Tunbridge Wells</li>
                            <li>Kent TN4 9LE England, United Kingdom</li>
                        </ul>
                    </div>
                </div>

                <hr class="border-b-white">

                <div class="flex flex-col xl:flex-row items-center justify-between mt-14">
                    <p>© 2023, Powered by The Vire Agency</p>
                    <div class="sc flex items-center gap-4 mt-5 xl:mt-0">
                        <!-- <a href="#">
                        <img src="../../assets/images/icons/facebook.svg" alt="">
                    </a> -->
                        <a href="https://instagram.com/akwaaba.care?igshid=OGQ5ZDc2ODk2ZA==">
                            <img src="../../assets/images/icons/insta.svg" alt="">
                        </a>
                        <!-- <a href="#">
                        <img src="../../assets/images/icons/linkedIn.svg" alt="">
                    </a> -->
                        <a href="https://x.com/Akwaabacare_?t=2_qLLONwCD5c_SowUq4j4g&s=03">
                            <img src="../../assets/images/icons/twitter.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </footer>

        <script src="../../js/aos.js"></script>
        <script>
            AOS.init();
        </script>

        <script>
            const burger = document.getElementById('burger')
            const mobNav = document.getElementById('mobNav')
            const overlay = document.getElementById('menu_overlay')
            const closeBtn = document.getElementById('close')

            burger.addEventListener('click', () => {
                mobNav.classList.toggle('open')
                overlay.classList.add('open')
            })

            overlay.addEventListener('click', () => {
                mobNav.classList.toggle('open')
                overlay.classList.remove('open')
            })

            closeBtn.addEventListener('click', () => {
                mobNav.classList.toggle('open')
                overlay.classList.remove('open')
            })
        </script>
    </body>

</html>
